.not-clicked {
	display: inline-block;
	padding: 10px 18px;
	font-size: 25px;
	font-family: Lucida Console;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #4D4D4D;
	border: inset;
	border-radius: 15px;
	box-shadow: 0 5px #808080;
	margin: 0 3px 10px;
}

.not-clicked:hover {
	background-color: #726E6D;
	/*smokey gray*/
}

.error {
	background-color: #c24641;
	display: inline-block;
	padding: 10px 18px;
	font-size: 25px;
	font-family: Lucida Console;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	border: inset;
	border-radius: 15px;
	box-shadow: 0 5px #808080;
	margin: 0 3px 10px;
}

.correct {
	background-color: #85a46c;
	display: inline-block;
	padding: 10px 18px;
	font-size: 25px;
	font-family: Lucida Console;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	border: inset;
	border-radius: 15px;
	box-shadow: 0 5px #808080;
	margin: 0 3px 10px;
}

.box-img-errors {
	float: left;
	margin-top: 10px;
	margin-left: 20px;
}

.box-heart {
	float: right;
	margin-top: 370px;
	margin-right: 410px;
}

.box-numberHeart {
	margin-top: -120px;
	margin-right: 345px;
	font-size: 90px;
	float: right;
}

.box-words {
	position: absolute;
	width: 100%;
	text-align: center;
	letter-spacing: 20px;
	font-size: 90px;
	margin: 650px auto 0;
}

.box-keyboard {
	position: absolute;
	width: 35%;
	text-align: center;
	margin: 810px 0 0 613px;
}

.button-reload-lose {
	font-size: 75px;
	color: white;
	cursor: pointer;
	position: absolute;
	margin-top: 430px;
	margin-left: 490px;
}

.button-reload-lose:hover {
	color: #DDDFE1;
}

.button-reload-win {
	font-size: 65px;
	color: #222;
	cursor: pointer;
	position: absolute;
	margin-top: 270px;
	margin-left: 1280px;
}

.button-reload-win:hover {
	color: rgb(56, 112, 172);
}

.img-win {
	width: 100%;
	height: 1056px;
	position: absolute;
}

/* *{
	margin: 0px;
	padding: 4px;
} */

/* .center{
  text-align: center;
} */

/* keyset choice number 2 */

/* .keyset1 {
	display: inline-block;
	padding: 10px 18px;
	font-size: 25px;
	font-family: Lucida Console;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color:#4D4D4D;
	border: inset;
	border-radius: 15px;
	box-shadow: 0 5px #808080;
} */